* {
    outline: medium none;
}
body {
    background: url("../img/body-bg.png") repeat scroll 0 0 transparent;
    color: #343434;
    font-family: Arial;
  	font-size:   13px;
  	line-height: 18px;
}

a {
    color: #205AAF;
    text-decoration: none;
}
a img {
    border: 0 none;
}

a:hover { color: #000; background-color:#FFCC00; }


input [type="submit"] {     
	border: 5px solid #006;
	color:#000066; 
}

input:hover[type=submit]{
	
}
h1{
	color: #0A67C5;
    font-family: 'Droid Sans',Arial;
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 40px;
    padding: 0;
}
h2{
	color: #363636;
    font-family: 'Droid Sans',Arial;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}
h3{
	color: #939393;
    font: 18px/1.4 "Droid Sans",sans-serif;
}
h4{
	color: #363636;
    font: 13px/1.5 "Droid Sans",sans-serif
}
h5{
	color: #363636;
    font-family: 'Droid Sans',Arial;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0;
}
#wrapper{
	background: url("/images/style/tekstura.png") repeat scroll 50% -100px transparent
}
#header {
    height: 225px;
    margin: 0 auto;
    position: relative;
    width: 930px;
    z-index: 10;
    background: url("/images/style/logo.png") repeat scroll transparent
}

#content{
	background: none repeat scroll 0 0 #FFFFFF;

    margin: 0 auto;
    position: relative;
    width: 930px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px #C6C6C6;
    
}
#footer {
    height: 60px;
    margin: 0 auto;
    position: relative;
    width: 930px;
    z-index: 10;
}
#footer_info{
	
	color:#939393;
}
/*------------------------login-----------------------------*/
#login{
	color:#000000;
}
#login_link{
	margin-left: 850px;
}
#login_content{
	margin: 30px;
}
#login_box{
	position: absolute;
	display:none;
    left: 750px;
    position: absolute;
    background-color:#F3F3F3;
    
    top: 43px;
    width: 300px;
    height: 250px;
    z-index: 100;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px #C6C6C6;
}
.close{
	position: absolute;
	right: 5px;
	top: 5px;
}

/*------------------------post/show------------------------------*/

#post_content{
	padding: 40px;
}
.description{
	border-right: 1px dotted #D2D2D2;
    color: #939393;
    float: left;
    font: 18px/1.4 "Droid Sans",sans-serif;
    margin-bottom: 40px;
    padding-right: 26px;
    width: 540px;
    margin-right: 20px;
}
#comments_content{
	background:none repeat scroll 0 0 #F3F3F3;
	padding: 40px;
}
#presentation img{
	width: 420px;
	height: 380px;
}
#presentation_image{
	width: 560px;
	height: 400px;
}
#comment{
	border-bottom: 1px dotted #D2D2D2;
	padding-bottom: 20px; 
}
#comment_title{
	font-weight: 600;
}
#presentations_navigation{
	margin-left: 140px;
	color: #363636;
    font-family: 'Droid Sans',Arial;
    font-size: 20px;
    font-weight: normal;
    padding: 0;
}
#post_listing{
	height: 220px;
	border-bottom: 1px dotted #D2D2D2;
}
#presentation_miniatures img{
	width: 140px;
	height: 110px;
/*	float: left;*/
}
#presentation_miniatures{
	width: 140px;
	height: 110px;
	padding: 10px;
	border: 1px solid #C5C5C5;
	float: left;
	margin-right: 20px;
}
#rate_good_div, #rate_div{
	color: #0A67C5;
    font-family: 'Droid Sans',Arial;
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 40px;
    padding: 0;
}
#presentations_navigation img{
	height: 35px;
	width: 40px;
}

/*------------------------user/show------------------------------*/
#user_content{
	padding: 40px;
}
#post_title{
	font-weight: 600;
}
